<div class="container my-3">
<h2 class="text-center">My Lists</h2>
<%= link_to "Create new List", new_list_path, class:"btn btn-warning text-light"  %>
<div class="cards mt-3">
<% @lists.each do |list| %>
<div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.corneliustoday.com/wp-content/uploads/2021/04/theater-seats.jpg)">
    <%= link_to list.name, list_path(list), class:"text-decoration-none text-light" %>
</div>
<% end %>
